@media (max-width: 768px) {
    header {
        padding: 1rem;
    }

    #servicios {
        flex-direction: column;
        align-items: center;
    }

    .servicio {
        width: 80%;
        margin-bottom: 1rem;
    }

    #contacto form {
        width: 100%;
    }

    .galeria-contenedor {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .slider {
        max-width: 100%;
    }

    footer {
        font-size: 0.9rem;
    }
}