#promociones {
    padding: 2rem;
    text-align: center;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slider img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider .active {
    display: block;
}